*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}


.main-container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  
} 

.reset-score-btn {
  position: fixed;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background: gainsboro;
  padding: 2% 4%;
  margin-right: 70%;
  border-radius: 2% ;
  border: none;
  cursor: pointer;
}

.reset-score-btn:hover {
  transition: .3s font-size;
  font-size: 27px;

}

.grid-container {
  cursor: grab;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
  user-select: none;
}

.grid-item {
  height: 194px;
  min-width: 194px;
  background-color: gray;
  margin: 3px;
  font-size: 200px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *** Make inner text shadow */
/* https://stackoverflow.com/questions/2889501/inner-text-shadow-with-css */


.win {
  background: white;
}


