*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.grid-container {
  cursor: grab;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
  user-select: none;
}

.grid-item {
  height: 194px;
  min-width: 194px;
  background: gray;
  margin: 3px;
  font-size: 200px;
  padding-bottom: 30px;
   /* text-align: center; */
  /* letter-spacing: 0px; */
  /* line-height: 50px;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .grid-item p {
  font-size: 250px;
  text-align: center;
  line-height: normal;
} */


